@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$font-display: 'Open Sans', sans-serif;
$font-heading: 'Poppins', sans-serif;

$color-violet: hsl(257, 40%, 49%);
$color-magneta: hsl(300, 69%, 71%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  @media only screen and (max-width: 56.25em) {
    font-size: 45%;
  }
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      hsla(257, 40%, 49%, 0.85),
      hsla(257, 40%, 49%, 0.75)
    ),
    url('/images/bg-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 56.25em) {
    justify-content: space-around;
  }
}

.container {
  width: 90%;
  // min-height: 85vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(25rem, 1fr));
  grid-template-rows: 15vh 1fr min-content;
  gap: 2rem;
  margin-bottom: 1.5rem;
  @media only screen and (max-width: 56.25em) {
    grid-template-rows: 10vh repeat(3, min-content);
    grid-template-columns: 1fr;
    width: 100%;
    // min-height: 100%;
    padding: 3rem 5rem;
    justify-items: center;
  }
}

.heading-2 {
  font-size: 4rem;
  font-family: $font-heading;
  font-weight: 600;
  letter-spacing: 1.3px;
  word-spacing: 1rem;
  color: #fff;

  @media only screen and (max-width: 31.25em) {
    font-size: 3rem;
  }
}
